@page
@model Server.Pages.AboutModel
@{
	var title =Resources.PageTitles.About;

	ViewData["Title"] = title;
}

<h3>
	@(title)
</h3>

<hr />

<div class="row min-vh-100 align-content-center align-items-center">
	<div class="col align-content-center">
		@(Resources.DataDictionary.SiteAuthor)
	</div>
	<div class="col ">
		<img class="rounded-circle w-100 h-100 " src="~/images/user-profile.jpg" alt="@(Resources.DataDictionary.SiteAuthor)" asp-append-version=true />
	</div>
</div>

<hr />
