@page
@model Server.Pages.ContactModel
@{
	var title = "تماس با ما";

	ViewData["Title"] = title;
}

<h3>
	@(title)
</h3>

<hr />

<div class="row">
	<div class="col">
		شماره تلفن همراه:
		<a href="tel:09121087461">09148035848</a>
		<br />
		نشانی پست الکترونیک:
		<a href="mailto:sinuhe_1368@yahoo.com" target="_blank">sinuhe_1368@yahoo.com</a>
		
	</div>
</div>

<hr />