<!DOCTYPE html>
@{
	var cultureName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;//TwoLetterISOLanguageName;
}
<html lang="@(cultureName)" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />

    <partial name="PartialViews/_Seo" />
    
	<partial name="PartialViews/_OpenGraph" />

	<partial name="PartialViews/_FavoriteIcon" />

	<partial name="PartialViews/RTL/_StyleSheets" />

	@RenderSection(name: "StyleSheets", required: false)
</head>
<body>
	<partial name="PartialViews/RTL/_Header" />

	<main style="margin-top: 80px; margin-bottom: 80px;">
		<div class="container">
			@(RenderBody())
		</div>
	</main>

	<partial name="PartialViews/RTL/_Footer" />

	<partial name="PartialViews/RTL/_Scripts" />

	@RenderSection(name: "Scripts", required: false)
</body>
</html>
